@charset "utf-8";

/*-----メイン-----*/
#main {
	width: 980px;
	height: 500px;
	margin: 0px auto;
}

#message {
	padding-top: 50px;
}

#header {
	background-color: #0D1218;
	width: 100%;
	height: 85px;
	margin: 0px auto;
}

#wrap_header {
	width: 980px;
	height: 80px;
	margin: 0px auto;
}

#logo {
	width: 200px;
	padding-top: 30px;
}