@charset "utf-8";



/*-----メイン-----*/
#main {
	margin: 0px auto;
	width: 580px;
}

#chat{

}

#chat table{
	text-align: left;
}

#chat p{
	margin-bottom: 5px;
}

.left {
	width: 100px;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
}

.right {
	width: 530px;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.spece {
	height: 75px;
}

#chat img{
	float: left;
}

#submit {
	border-top: 1px solid #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	border-bottom: 1px solid #660000;
	width: 580px;
}

#chatTextArea {
	width: 570px;
	height: 100px;
	resize: none;
}


#tools {
	text-align: left;
	width: 300px;
}

#post {
	text-align: right;
	width: 200px;
	float: right;
}
