<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ve.java.core.launcher.JavaBean">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jp.ac.fjb.sotukenD.model.UserEditModel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sotukenD"/>
</launchConfiguration>
