縲�charset "UTF-8";"


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:'繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3','Hiragino Kaku Gothic Pro','繝｡繧､繝ｪ繧ｪ',Meiryo,'�ｼｭ�ｼｳ �ｼｰ繧ｴ繧ｷ繝�繧ｯ',sans-serif;
   font-size:12px;
   color:#5A482B;
   border-top:5px solid #9B0000;
   background:#fff url("../images/haikei.png") 0 0 repeat-x;
}

br {
   letter-spacing:normal;
}

a {
   color:#5A482B;
   text-decoration:none;
}

a:hover {
   color:#C94C00;
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}


/* ========TEMPLATE LAYOUT======== */
#headWrap {
   position:relative;
   width:100%;
   margin:0 auto;
   padding:10px 0;
   background:#fff;
}

#header {
   position:relative;
   width:787px;
   margin:0 auto;
   background:#fff;
}

#pr {
   position:absolute;
   left:0;
   top:0;
   width:787px;
}

#gnavi {
   position:absolute;
   bottom:0;
   right:0;
}

#menu {
   width:100%;
   float:left;
   background:url("../images/bg_menu.gif") 0 0 repeat-x;
}

#icatch {
   width:787px;
	left:160px;
   margin:0 auto 15px;
   background:#fff;
}


/*pick up*/


#hakone {
position:rirative;
   left:200px;
   margin:0 auto 15px;
   background:#fff;
}
/*
#yuhu {
position:absolute;
	top:600px
   left:360px;
   margin:0 auto 15px;
   background:#fff;
}
#kusatsu {
position:absolute;
top:600px
   left:420px;
   margin:0 auto 15px;
   background:#fff;
}
*/
/*-----------------------------*/

#contents {
   clear:both;
   width:767px;
   margin:0 auto;
   padding:10px;
   background:#fff;
}

#main {
   float:right;
   width:547px;
}

#sub {
   float:left;
   width:200px;
}

#pageTop {
   clear:both;
}

#footMenu {
   width:787px;
   margin:0 auto;
}

#footer {
   background:#EBEADD;
   border-bottom:5px solid #9B0000;
}


/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding-top:25px;
   font-size:32px;
   color:#fff;
   line-height:50px;
}

#header h1 a {
   color:#9B0000;
}

#header h1 a:hover {
   color:#D30000;
}

#header #pr p {
   margin:0;
   font-size:11px;
}

#header #gnavi ul {
   list-style:none;
}

#header #gnavi li {
   float:left;
   font-size:11px;
   margin-left:15px;
}

#header #gnavi li a {
   display:block;
}

#header #gnavi .tel {
   color:#C94C00;
   font-size:24px;
   font-weight:bold;
   letter-spacing:-1px;
   line-height:1.0;
}


/* ========MENU CUSTOMIZE======== */
#menu ul {
   width:787px;
   margin:0 auto;
   padding:0;
}

#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}

#menu li a {
   display:block;
   width:195px;
   color:#5A482B;
   line-height:60px;
   border-right:1px solid #D8D8D8;
   font-family:Georgia,"MS 譏取悃","Hiragino Mincho Pro W3","繝偵Λ繧ｮ繝取�取悃 Pro W3",serif;
   color:#3F2A0F;
   font-weight:bold;
   font-size:14px;
}

#menu li.home a {
   border-left:1px solid #D8D8D8;
}

#menu li a:hover {
   color:#C94C00;
   background:#fff url("../images/bg_menu.gif") 0 -60px repeat-x;
   z-index:100;
}


/* ========TOPICPATH CUSTOMIZE======== */
#topicPath {
   margin-bottom:0px;
   font-size:11px;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main a {
   color:#9B0000;
}

#main a:hover {
   color:#C94C00;
   text-decoration:underline;
}

#main h2 {
   margin-bottom:8px;
   padding:0 0 0 10px;
   color:#5A482B;
   font-family:Georgia,"MS 譏取悃","Hiragino Mincho Pro W3","繝偵Λ繧ｮ繝取�取悃 Pro W3",serif;
   font-size:15px;
   font-weight:bold;
   line-height:35px;
   border:1px solid #D8D8D8;
   background:url("../images/bg_h2.gif") 100% 100% no-repeat;
}

#main h3 {
   margin-bottom:3px;
   padding-left:50px;
   font-size:14px;
   border-bottom:1px solid #999;
   background:url("../images/bg_h3.gif") 0 5px no-repeat;
}

#main h4 {
   margin-bottom:2px;
   padding:2px;
   font-size:12px;
   background:#82af21;
   color:#fff;
}

#main h5 {
   margin-bottom:2px;
   font-size:12px;
   border-bottom:1px solid #5A482B;
}

#main h6 {
   margin-bottom:2px;
   font-size:12px;
}

#main p {
   margin:0 0 1em 0;
   font-size:12px;
}

#main ul,ol,dl {
   font-size:12px;
}

#main dt {
   margin-bottom:3px;
}

#main dd {
   padding:0;
   margin:0 0 0.5em 1em;
   padding:3px;
   background:#f1f1f1;
}

/* INFORMATION CUSTOMIZE */
* html body #main dl.information dd div {
   display:inline-block;
}

#main dl.information dt {
   float:left;
   margin:0;
   padding:0;
}

#main dl.information dd {
   margin:5px 0;
   padding:0 0 0.5em 8em;
   background:url("../images/bg_dotline.gif") 0 100% repeat-x;
}

#main table {
   width:100%;
   border-collapse:collapse;
}

#main table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
   background:#EBEADD;
}

#main table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
}


/* ========SUBCONTENTS CUSTOMIZE======== */
#sub .section {
   margin-bottom:5px;
   margin-right: 5px;
}

.got{
      font-size:16px;
	  font-family: 'HG陦梧嶌菴�', sans-serif;
}


#sub h2 {
   padding:3px;
   font-size:14px;
   font-weight:bold;
   color:#fff;
   padding-left:10px;
   background:#9B0000;
   border-bottom:1px solid #C1C1C1;
   border-right:1px solid #C1C1C1;
}

#sub ul {
   margin:5px 0 0 5px;
   padding:0;
}

#sub li {
   padding:5px 0 5px 0;
   line-height:1.4;
   list-style:none;
   background:url("../images/bg_dotline.gif") 0 100% repeat-x;
}

#sub li a {
   display:block;
   padding-left:12px;
   background:url("../images/bg_list.gif") 0 6px no-repeat;
}


/* ========PAGEOP CUSTOMIZE========= */
#pageTop {
   padding:20px 0;
   text-align:right;
   font-size:11px;
}

#pageTop a {
   padding-left:8px;
   background:url("../images/bg_pagetop.gif") 0 50% no-repeat;
}


/* ========FOOTMENU CUSTOMIZE======== */
#footMenu ul {
   margin:0;
   padding:10px 0 0 0;
   text-align:right;
}

#footMenu li {
   display:inline;
   margin:0 0 0 10px;
   list-style:none;
}

#footMenu li a {
   padding-left:10px;
   background:url("../images/bg_footmenu.gif") 0 50% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   padding:30px 0;
   font-size:11px;
   font-style:normal;
   color:#333;
   text-align:center;
}
div.area {
width: 542px; /* 繝懊ャ繧ｯ繧ｹ縺ｮ蟷� */
padding: 3px; /* 繝懊ャ繧ｯ繧ｹ縺ｮ繝代ョ繧｣繝ｳ繧ｰ */
background-color: #ffffff; /* 繝懊ャ繧ｯ繧ｹ縺ｮ閭梧勹濶ｲ */
border: 1px #e0e0e0 solid; /* 繝懊ャ繧ｯ繧ｹ縺ｮ蠅�逡檎ｷ� */
text-align: center;
}

/* --- 繝槭ャ繝励�懊ャ繧ｯ繧ｹ --- */
div.area dl {
margin: 0;
background: #eef7fe url(map_back.gif) repeat-x top; /* 繝槭ャ繝励�懊ャ繧ｯ繧ｹ縺ｮ閭梧勹�ｼ医げ繝ｩ繝�繝ｼ繧ｷ繝ｧ繝ｳ�ｼ� */
border: 1px #e0e0e0 solid; /* 繝槭ャ繝励�懊ャ繧ｯ繧ｹ縺ｮ蠅�逡檎ｷ� */
}

/* --- 繧ｿ繧､繝医Ν繧ｨ繝ｪ繧｢ --- */
div.area dt {
margin: 5px; /* 繧ｿ繧､繝医Ν繧ｨ繝ｪ繧｢縺ｮ繝槭�ｼ繧ｸ繝ｳ */
padding: 3px; /* 繧ｿ繧､繝医Ν繧ｨ繝ｪ繧｢縺ｮ繝代ョ繧｣繝ｳ繧ｰ */
background-color: #eef7fe; /* 繧ｿ繧､繝医Ν繧ｨ繝ｪ繧｢縺ｮ閭梧勹濶ｲ */
font-weight: bold; /* 螟ｪ蟄� */
color: #3d7eab; /* 譁�蟄苓牡 */
}

/* --- 繧ｳ繝｡繝ｳ繝医お繝ｪ繧｢ --- */
div.area dd.description {
margin: 10px 0; /* 繧ｳ繝｡繝ｳ繝医お繝ｪ繧｢縺ｮ繝槭�ｼ繧ｸ繝ｳ�ｼ井ｸ贋ｸ九�∝ｷｦ蜿ｳ�ｼ� */
font-size: 80%; /* 譁�蟄励し繧､繧ｺ */
}

/* --- 繝槭ャ繝励お繝ｪ繧｢ --- */
div.area dd.map {
margin: 20px 0; /* 繝槭ャ繝励お繝ｪ繧｢縺ｮ繝槭�ｼ繧ｸ繝ｳ�ｼ井ｸ贋ｸ九�∝ｷｦ蜿ｳ�ｼ� */
}
div.area dd.map img {
border: none;
}

/* --- 讀懃ｴ｢邨先棡逕ｻ髱｢ --- */
#inputKey {
margin-top: 7px;
}

#resultTable {
margin-top: 5px;
width: 530px;
}

#resultImage {
height: 120px;
width: 120px;
}

#imageBox {
width: 120px;
}

#resultTitle {
background-color: #8A0000;
color: white;
}

