@charset "utf-8";

/*-----form要素の入力項目の枠-----*/
.frame {
	border: 1px #3A443C solid;
}

.button {
	border: 1px #3A443C solid;
	background-color: #ecf0f1;
}

/*-----IME制御-----*/
.text{
	ime-mode: disabled;
}

textarea {
	border: 1px #3A443C solid;
	background-color: #ecf0f1;
}
