body {
	background-image: url(../images/a1380_001399_m.jpg);
}



#title {
	width: 1200px;
	height: 100px;
	text-align: center;
}

#aikon {
	float: left;
}

#syasyou {
	width: 500px;
	height: 500px;

}

#sub {
	float: left ;
	margin-top: 150px;
	margin-left: 70px;
	background-color: white;
	border: solid 1px black;

}

#a {
	height: 550px;
	width: 1200px;
	text-align: center;
	padding-left: 200px;
	padding-top: 0px;
	
	margin-top: 0px;

}