#news{
	background: url(../images/contents_bg.gif) repeat-y center;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}

#submenu{
	background: url(../images/contents_bg.gif) repeat-y center;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}