#zentai{
overflow-y: scroll;
height:320px;

}
#memori{
	padding: 0px;
	margin-left:172px;
}

#in{
	background-color:#cccccc;
}
#ttl{
	font-size:16px;
}
#kotei td{
	margin:0px;
	padding:0px;
	font-size:14px;
}