<web-app>

	<servlet>
        <servlet-name>groupSelectServlet</servlet-name>
        <servlet-class>jp.ac.fjb.Sotuken.servlet.groupSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupChatServlet</servlet-name>
        <servlet-class>jp.ac.fjb.Sotuken.servlet.groupChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stampServlet</servlet-name>
        <servlet-class>jp.ac.fjb.Sotuken.servlet.stampServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPageServlet</servlet-name>
        <servlet-class>jp.ac.fjb.Sotuken.servlet.MyPageServlet</servlet-class>
    </servlet>
         <servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.SignUpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendEmailCompletionServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.SendEmailCompletionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.MailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailOutBoxServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.MailOutBoxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailDraftBoxServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.MailDraftBoxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailTrashBoxServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.MailTrashBoxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContentDisplayServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.ContentDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailSakuseiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.Sotuken.servlet.MailSakuseiServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/SignUpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendEmailCompletionServlet</servlet-name>
		<url-pattern>/SendEmailCompletionServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupSelectServlet</servlet-name>
        <url-pattern>/groupSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupChatServlet</servlet-name>
        <url-pattern>/groupChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stampServlet</servlet-name>
        <url-pattern>/stampServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPageServlet</servlet-name>
        <url-pattern>/MyPageServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/MailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailOutBoxServlet</servlet-name>
		<url-pattern>/MailOutBoxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailDraftBoxServlet</servlet-name>
		<url-pattern>/MailDraftBoxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailTrashBoxServlet</servlet-name>
		<url-pattern>/MailTrashBoxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentDisplayServlet</servlet-name>
		<url-pattern>/ContentDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailSakuseiServlet</servlet-name>
		<url-pattern>/MailSakuseiServlet</url-pattern>
	</servlet-mapping>

</web-app>