@charset utf-8;

#contents h1 {
	color: #ffffff;
	font-size: 18px;
	margin: 0;
	padding: 2px;
    border: 2px solid #3399ff;
    background-color: #3399ff;
}

.wrap{
	padding: 0px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #3399ff;
    margin: 5px;
  	width: 760px;
	text-align: left;
}

#wrapper {
	height: 730px;
}

#contents ul {
	list-style-type: none;
	margin: 5px;
}

table {
	padding: 10px;
    margin: 5px;
  	width: 760px;
	text-align: left;
}


.left {
	width: 305px;;
}

.right {
	text-align: right;
}

table img {
	width: auto;
	height: 200px;
}

#contents p {
	line-height: 1.6em;
}
