<web-app>

	<servlet>
		<servlet-name>CalendarServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.CalendarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.ItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MapServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MCardServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MKounyuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MKounyuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MTourokucommitServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MTourokucommitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MTourokuhenkouServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MTourokuhenkouServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MypageServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.MypageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OKakuninServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OKakuninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnsenSyousaiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OnsenSyousaiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OSearchServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OSyousaiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OSyousaiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OTop2SSyousaiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OTop2SSyousaiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OtopSSyousaiervlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OtopSSyousaiServlet</servlet-class>
	</servlet>
	 <servlet>
		<servlet-name>OYoyakuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OYoyakuServlet</servlet-class>
	</servlet>
	 <servlet>
		<servlet-name>ShopsearchServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.OSopsearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SSearchServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.SSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SSyousaiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.SSyousaiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>STopServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.STopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SyouhinSServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.SyouhinSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>yoyakuKakuninServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.yoyakuKakuninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>YoyakuKakuninServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.servlet.YoyakuKakuninServlet</servlet-class>
	</servlet>

<!-- 温泉マップ -->
    <servlet>
		<servlet-name>HokkaidouServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.HokkaidouServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HokurikuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.HokurikuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KantouServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.KantouServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KinkiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.KinkiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KyuusyuuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.KyuusyuuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OkinawaServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.OkinawaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShikokuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.ShikokuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TouhokuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.TouhokuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToukaiServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.ToukaiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TyuugokuServlet</servlet-name>
		<servlet-class>jp.ac.fjb.onsen.map.TyuugokuServlet</servlet-class>
	</servlet>









	<servlet-mapping>
		<servlet-name>CalendarServlet</servlet-name>
		<url-pattern>/CalendarServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/ItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>MapServlet</servlet-name>
		<url-pattern>/MapServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MCardServlet</servlet-name>
		<url-pattern>/MCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MKounyuServlet</servlet-name>
		<url-pattern>/MKounyuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MTourokucommitServlet</servlet-name>
		<url-pattern>/MTourokucommitServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>MTourokuhenkouServlet</servlet-name>
		<url-pattern>/MTourokuhenkouServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MypageServlet</servlet-name>
		<url-pattern>/MypageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OKakuninServlet</servlet-name>
		<url-pattern>/OKakuninServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnsenSyousaiServlet</servlet-name>
		<url-pattern>/OnsenSyousaiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OSearchServlet</servlet-name>
		<url-pattern>/OSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OSyousaiServlet</servlet-name>
		<url-pattern>/OSyousaiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTop2SSyousaiServlet</servlet-name>
		<url-pattern>/OTop2SSyousaiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OtopSSyousaiervlet</servlet-name>
		<url-pattern>/OtopSSyousaiervlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OYoyakuServlet</servlet-name>
		<url-pattern>/OYoyakuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShopsearchServlet</servlet-name>
		<url-pattern>/ShopsearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SSearchServlet</servlet-name>
		<url-pattern>/SSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SSyousaiServlet</servlet-name>
		<url-pattern>/SSyousaiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>STopServlet</servlet-name>
		<url-pattern>/STopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SyouhinSServlet</servlet-name>
		<url-pattern>/SyouhinSServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>yoyakuKakuninServlet</servlet-name>
		<url-pattern>/yoyakuKakuninServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YoyakuKakuninServlet</servlet-name>
		<url-pattern>/YoyakuKakuninServlet</url-pattern>
	</servlet-mapping>

<!-- 温泉マップ -->
	<servlet-mapping>
		<servlet-name>HokkaidouServlet</servlet-name>
		<url-pattern>/HokkaidouServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HokurikuServlet</servlet-name>
		<url-pattern>/HokurikuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KantouServlet</servlet-name>
		<url-pattern>/KantouServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KinkiServlet</servlet-name>
		<url-pattern>/KinkiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KyuusyuuServlet</servlet-name>
		<url-pattern>/KyuusyuuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OkinawaServlet</servlet-name>
		<url-pattern>/OkinawaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShikokuServlet</servlet-name>
		<url-pattern>/ShikokuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TouhokuServlet</servlet-name>
		<url-pattern>/TouhokuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToukaiServlet</servlet-name>
		<url-pattern>/ToukaiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TyuugokuServlet</servlet-name>
		<url-pattern>/TyuugokuServlet</url-pattern>
	</servlet-mapping>


</web-app>